# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code settings
.vscode/

# Large data
data/

# Dataset caches
notebooks/cache/
notebooks/texts
notebooks/gutenbergindex.db

# Saved models
checkpoints/
models/

# Logs
logs/